<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using Epeal's Complaint Site! </h1>
    <p>
      This email is to notify you that we have successfuly received your complaint. You will be notified shortly of the outcome. Please do note that your identity is anonymous. Thank you and have a nice day.
    </p>


  </body>
</html>