<% if @article_results != [] %>
	<h2>Results in Articles</h2>
	<% @article_results.each do |x| %>
		<p><a href="/articles/<%=x.searchable_id%>"><%= x.content%></a></p>
	<% end %>
<% end %>

<% if @query_results != [] %>
	<h2>Results in Queries</h2>
	<% @query_results.each do |x| %>
		<p><a href="/queries/<%=x.searchable_id%>"><%= x.content%></a></p>
	<% end %>
<% end %>