

<h1>Got A Problem?</h1>

<h3>Pick a subject to narrow down your topic</h3>

<!DOCTYPE html>
<html>
	<head>


	<head>
  
  <script src="/application-cbd3cd4.js" defer></script>



	<body>

		<!-- <div id="test1">
			<p>This is the first content</p>
		</div>
	<button id="btn1">Click to Change</button>

		<div id="test2">
			<p>Have a blast!</p>
		</div>
	<button id="btn2">Click button to die </button>
 -->


<!-- Link Boxes -->
<section>
                <div class="box-align">
                    <a href="#">
                        <div class="linkbox-1">
                            <h3>
                                CONTRACTS OF SERVICE
                            </h3>
                        </div>
                    </a>    

                    <a href="/quizes/show">
                        <div class="linkbox-2">
                            <h3>
                                WAGES
                            </h3>
                        </div>
                    </a>

                    <a href="/quizes/new">
                        <div class="linkbox-3">
                            <h3>
                                REST DAYS, HOURS OF WORK AND HOLIDAYS
                            </h3>
                        </div>
                    </a>    

                    <a href="#">
                        <div class="linkbox-4">
                            <h3>
                                TERMINATION, LAY-OFF, AND RETIREMENT BENEFITS
                            </h3>
                        </div>
                    </a>    

                    <a href="#">
                        <div class="linkbox-5">
                            <h3>
                                CONTRACTORS AND CONTRACTORS FOR LABOUR
                            </h3>
                        </div>
                    </a>    

                    <a href="#">
                        <div class="linkbox-6">
                            <h3>
                                WOMEN RELATED
                            </h3>
                        </div>
                    </a> 

                    <a href="#">
                        <div class="linkbox-7">
                            <h3>
                                EMPLOYMENT OF CHILDREN AND YOUNG PERSONS
                            </h3>
                        </div>
                    </a>        

                    <a href="#">
                        <div class="linkbox-8">
                            <h3>
                                SEXUAL HARASSMENT
                            </h3>
                        </div>
                    </a>        

                    <a href="#">
                        <div class="linkbox-9">
                            <h3>
                                EMPLOYMENT OF FOREIGN EMPLOYEES
                            </h3>
                        </div>
                    </a>                   
                </div>
            </section>



<!-- Old but Gold -->
<!-- <a href="https://www.3ecpa.com.my/resources/human-resources-immigration/summary-of-employment-laws-in-malaysia/">CONTRACTS OF SERVICE</a><br/>
<br/>

<a href="/quizes/show">WAGES
</a><br/>
<br/>

<a href="/quizes/new">REST DAYS, HOURS OF WORK, HOLIDAYS AND OTHER CONDITIONS OF SERVICE</a><br/>
<br/>

<a href="https://www.3ecpa.com.my/resources/human-resources-immigration/summary-of-employment-laws-in-malaysia/">TERMINATION, LAY-OFF, AND RETIREMENT BENEFITS</a><br/>
<br/>

<a href="https://www.3ecpa.com.my/resources/human-resources-immigration/summary-of-employment-laws-in-malaysia/">CONTRACTORS, PRINCIPALS AND CONTRACTORS FOR LABOUR</a><br/>
<br/>

<a href="https://www.3ecpa.com.my/resources/human-resources-immigration/summary-of-employment-laws-in-malaysia/">WOMEN RELATED</a><br/>
<br/>

<a href="https://www.3ecpa.com.my/resources/human-resources-immigration/summary-of-employment-laws-in-malaysia/">EMPLOYMENT OF CHILDREN AND YOUNG PERSONS

</a><br/>
<br/>

<a href="https://www.3ecpa.com.my/resources/human-resources-immigration/summary-of-employment-laws-in-malaysia/">SEXUAL HARASSMENT
</a><br/>
<br/>

<a href="https://www.3ecpa.com.my/resources/human-resources-immigration/summary-of-employment-laws-in-malaysia/">DOMESTIC SERVANTS</a><br/>
<br/>

<a href="https://www.3ecpa.com.my/resources/human-resources-immigration/summary-of-employment-laws-in-malaysia/">EMPLOYMENT OF FOREIGN EMPLOYEES</a><br/>
<br/>

<a href="https://www.3ecpa.com.my/resources/human-resources-immigration/summary-of-employment-laws-in-malaysia/">PROCEDURES, PENALTIES, MISCELLANEOUS AND OTHERS</a><br/>
<br/> -->

<style>
.linkbox-1 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1512847930783-39fdc971594b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=623f9c21ef752c71971db3658ad26ac1&auto=format&fit=crop&w=1051&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: 100;
    text-shadow: 2px 2px 10px #111;
    
    line-height: 100px; 
}

.linkbox-2 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1518183214770-9cffbec72538?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fd73bbb2ed41be106f59cdc954044e30&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: 100;
    text-shadow: 2px 2px 10px #111;

    line-height: 100px;
}

.linkbox-3 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1493842344364-eccd34bd89d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b84a54278f5780d8ed8381282299a307&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: 100;
    text-shadow: 2px 2px 10px #111;
    line-height: 100px;
}

.linkbox-4 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1503354531728-dedfa6cb4e8d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c5d87a66d58edb3d8aaece4dca5c9b7d&auto=format&fit=crop&w=668&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: 100;
    text-shadow: 2px 2px 10px #111;
    
    line-height: 100px; 
}

.linkbox-5 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1494904257691-de6e55ff21b4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=34d19ae6d3f535f0a88ced92802f3867&auto=format&fit=crop&w=1270&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: 100;
    text-shadow: 2px 2px 10px #111;
    line-height: 100px;
}

.linkbox-6 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1507890512529-4b15a5a02988?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db53f4488d4ef70e68aea8bdf873067a&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 10px #111;
    line-height: 100px;
}



.linkbox-7 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1451471016731-e963a8588be8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2da73700e95907cf25d606819826b6e5&auto=format&fit=crop&w=1652&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 10px #111;
    line-height: 100px;
}

.linkbox-8 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1508225957744-04aa7ca4cfac?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=86d11cda56a23ec020809fa9cf000487&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 10px #111;
    line-height: 100px;
}

.linkbox-9 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1492848368155-e0a7e92ddc0b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f724046acf7c4a5bb98551721dc099f&auto=format&fit=crop&w=1735&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 10px #111;
    line-height: 100px;
}

@media only screen and (min-width: 1025px) {

    .linkbox-1 {
    margin: 10px 10px 0px 45px;
    width: calc(30%) !important;
    height: 250px;
    display: inline-block;
}


    .linkbox-2 {
    margin: 10px 10px 0;
    width: calc(30%) !important;
    height: 250px;
    display: inline-block;
}


    .linkbox-3 {
    margin: 10px 10px 0;
    width: calc(30%) !important;
    height: 250px;
    display: inline-block;
}


    .linkbox-4 {
    margin: 10px 10px 0px 45px;
    width: calc(30%) !important;
    height: 250px;
    display: inline-block;
}


    .linkbox-5 {
    margin: 10px 10px 0;
    width: calc(30%) !important;
    height: 250px;
    display: inline-block;
}


    .linkbox-6 {
	margin: 10px 10px 0;
    width: calc(30%) !important;
    height: 250px;
    display: inline-block;
}

   .linkbox-7 {
    margin: 10px 10px 0px 45px;
    width: calc(30%) !important;
    height: 250px;
    display: inline-block;
}


    .linkbox-8 {
    margin: 10px 10px 0;
    width: calc(30%) !important;
    height: 250px;
    display: inline-block;
}


    .linkbox-9 {
	margin: 10px 10px 0;
    width: calc(30%) !important;
    height: 250px;
    display: inline-block;
}

}
</style>
	</body>


</html>