<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
		
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">


</head>

<body>
<div class="main-content">
  
  <div class="container-modal">
    <div class="title">Rest day</div>
    <div class="modal" id="win-0">
        
      <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title">Rest day</div>
            <span class="close">X</span>
        </div>
        <div class="modal-content">
            Every employee shall be allowed in each week a rest day of one whole day.<br/><br/>

            Where an employee is allowed more than one rest day in a week (places working on 5-day week) the last of the rest days shall be the rest day:<br/><br/>

            A daily rated worker who works on a rest day, he shall be paid as follows:<br/>

            (i) 1 day's wages if the work does not exceed half his normal hours of work; or<br/>

            (ii) 2 days' wages if the work is more than half but does not exceed his normal hours of work.<br/><br/>

            A monthly rated worker who works on a rest day, he shall be paid as follows:<br/>

            (i) 1/2 day's wages if the work does not exceed half his normal hours of work, or<br/>

            (ii) 1 day's wages if the work is more than half but does not exceed his normal hours of work.<br/><br/>

            For overtime work on a rest day, an employee shall be paid at a rate which is not less than two times his hourly rate of pay.<br/><br/>
        </div>
      </div>
    </div>
  </div>

  <div class="container-modal">
    <div class="title">Overtime</div>
    <div class="modal" id="win-1">
        
    <div class="modal-container">
        <div class="modal-header">
          <div class="modal-title">Overtime</div>
            <span class="close">X</span>
        </div>

        <div class="modal-content">
          Should the contract of service mention the practice of overtime rates, employees are entitled to be paid a rate of no less than 1.5 of their hourly salary if they work on normal working days. <br/><br/>

          If an employee is required to work on his rest day, he must be paid two times the hourly rate of pay. As for working on public holidays, an employee is entitled to be paid three times the hourly rate of his pay. <br/><br/>

          Also, in place of overtime rates, certain companies practice the system of leave replacement credits, whereby an individual can claim a leave day if they work for more than the specified period of hours on a leave day. <br/><br/>

          Note: Companies that offer overtime rates will usually mention it in the contract of service that is agreed upon by both the employer and employee at the start of the term of employment. However, if there is no mention of overtime rates in the contract, employers can seek clarifications from their human resource department should the need for it arise.<br/><br/>

        </div>
      </div>
    </div>
  </div>
  
  <div class="container-modal">
    <div class="title">Hours of work</div>
    <div class="modal" id="win-2">
        
       <div class="modal-container">
        <div class="modal-header">
          <div class="modal-title">Hours of work</div>
          <span class="close">X</span>
        </div>
        <div class="modal-content">
            An employee is not required to work under his contract of service: <br/>

            1) For more than five consecutive hours without a period of leisure of not less than 30 minutes.<br/>

            2) For more than eight hours in one day. <br/>

            3) For more than 48 hours in one week. <br/>

            4) In excess of a spread over a period of 10 hours in one day.<br/><br/> 

            However, an employer may be required by his employer and/or nature of work to exceed the limit of hours above and to work on a rest day if:<br/>

            1) The work is essential to the life of the community <br/>

            2) The work is essential for the defence or security of Malaysia<br/>

            3) There's urgent work to be done to a machinery or plant <br/>

            4) There are unforeseen circumstances which requires the employee to work <br/>

            5) Accident, actual or threatened, in or with respect to his place of work <br/>

            6) There's work that is essential to the economy of Malaysia or any important service.<br/><br/>

        </div>
       </div>
      
    </div>
  </div>
  
  <div class="container-modal">
    <div class="title">Public Holidays</div>
    <div class="modal" id="win-3">  
      <div class="modal-container">
        <div class="modal-header">
          <div class="modal-title">Public Holidays</div>
          <span class="close">X</span>
        </div>
        <div class="modal-content">
          Employees are entitled to paid holiday on the following days:<br/><br/> 
          1. Eleven of the gazetted public holidays, five of which are: <br/>
          - National Day <br/>
          - The birthday of the Yang di-Pertuan Agong <br/>
          - The Birthday of the Ruler or the Yang di-Pertua Negeri (based on the state the employee works in)<br/>
          - Workers' Day<br/>
          - Malaysia Day <br/><br/>

          2. On any day appointed as a public holiday under Section 8 of the Holidays Act 1951 which refers to any other day that can be observed as a public holiday as the leader of the state sees fit after consultation with the State Authority. An example would be public holidays for victories in major sports events (badminton, hockey, football, etc.).<br/><br/>

          Note that for employers who have already mentioned in their handbook that they do not observe all gazetted public holidays, they are under no statutory obligation to observe certain days that are declared as public holidays. <br/><br/>

          For example, the 24th of April 2017 was declared as a public holiday in celebration of the installation of Sultan Muhammad V as the 15th Yang di-Pertuan Agong.<br/><br/> 

          However, quite a number of employers did not observe this as a public holiday due to operational requirements or urgencies. As such, employers can require their employees to work on that day but they will have to grant their employees any other day as a paid public holiday in substitution, in line with the Holiday Act 1951. <br/><br/>

          If a public holiday falls on a rest day and the following day is a working day, then that day shall be a paid holiday substitution. For example, if a public holiday falls on a Sunday, Monday shall automatically be a public holiday too.<br/><br/>


        </div>
      </div>  
    </div>
  </div>

  <div class="container-modal">
    <div class="title">Annual leave</div>
    <div class="modal" id="win-4">
      <div class="modal-container">
        <div class="modal-header">
          <div class="modal-title">Annual leave</div>
          <span class="close">X</span>
        </div>
        <div class="modal-content">
          Annual leave is an addition to rest days and paid holidays. <br/><br/>

          An employee is entitled to paid annual leave of:<br/>
          - Eight days for every 12 months of continuous service with the same employer if he has been employed for a period of less than two years.<br/>
          - 12 days for every 12 months of continuous service with the same employer if he has been employed for a period of more than two years, but less than five years. <br/>
          - 16 days for every 12 months of continuous service with the same employer if he has been employed for a period of five years or more. <br/><br/>

          If the individual has not completed 12 months of continuous service with the same employer during the year his contract of service terminates, his paid annual leave must be directly proportionate to the number of completed months of service. Any fraction of the annual leave that is less than one-half of a day will be disregarded, and if it is one-half or more, it shall be counted as one day. <br/><br/>

          Sick leave and/or maternity leave is not considered as annual leave. When an employee takes sick leave or maternity leave, the annual leave shall be deemed to have not been taken in respect of the days for which sick leave or maternity leave is so granted.<br/><br/>

          If both the employer and employee sign a contract which says that the employee will not take any annual leave, he is then entitled to payment in replacement for the annual leave.<br/><br/>
        </div>
       </div>
      </div>
  </div>


  <div class="container-modal">
    <div class="title">Sick leave</div>
    <div class="modal" id="win-5">  
      <div class="modal-container">
        <div class="modal-header">
          <div class="modal-title">Sick leave</div>
          <span class="close">X</span>
        </div>
        <div class="modal-content" >
          An employee shall be entitled to paid annual leave of:<br/>
          i) 8 days for every 12 months of continuous service with the same employer if he has been employed by that employer for a period of less than 2 years.<br/>
          ii) 12 days for every 12 months of continuous service with the same employer if he has been employed by that employer for a period of 2 to 5 years.<br/>
          iii) 16 days for every 12 months of continuous service with the same employer if he has been employed by that employer for a period of 5 years or more.<br/><br/>

          An employee shall, after examination by registered medical practitioner at the expense of the employer, be entitled to paid sick leave:<br/>
          i) Where no hospitalisation is necessary:.<br/>
          ii) 14 days in the aggregate in each calendar year if the employee has been employed for less than 2 years.<br/>
          iii) 18 days in the aggregate in each calendar year if the employee has been employed between 2 to 5 years.<br/>
          iv) 22 days in the aggregate in each calendar year if the employee has been employed for 5 years and above.<br/>
          v) 60 days in the aggregate in each calendar year if hospitalisation is necessary, as may be certified by such registered medical practitioner or medical officer.<br/><br/>
          An employee shall also be entitled to paid sick leave after examination by a dental surgeon as defined in the Dental Act 1971.<br/><br/>
          An employee who absents himself on sick leave shall be deemed to absent himself from work without permission if he is:<br/>
          i)not certified by a registered medical practitioner or a medical officer or a dental surgeon.<br/>
          ii)certified by such registered medical practitioner or medical officer or dental surgeon but without informing or attempting to inform his employer of such sick leave within 48 hours of the commencement thereof.<br/><br/>
          However, if the illness requires hospitalisation, a total number of 60 days will be provided for each employee. This is inclusive of the paid sick leave entitled as stated above.<br/><br/>
          Employees are entitled to their ordinary pay rate for every day of their sick leave, including hospitalisation.<br/><br/>
        </div>
      </div>
    </div>
  </div>

  <div class="container-modal">
    <div class="title">Task work </div>
    <div class="modal" id="win-6">
      <div class="modal-container">
        <div class="modal-header">
          <div class="modal-title">Task work </div>
          <span class="close">X</span>
        </div>
        <div class="modal-content">
          Nothing contained in this Part shall prevent any employer from agreeing with any employee that the wages of such employee shall be paid at an agreed rate in accordance with the task, that is, the specific amount of work to be performed, and not by the day or by the piece.
        </div>
      </div>
      
    </div>
  </div>



  <div class="container-modal">
    <div class="title">Shift work</div>
    <div class="modal" id="win-7"> 
      <div class="modal-container">
        <div class="modal-header">
          <div class="modal-title">Shift Work</div>
          <span class="close">X</span>
        </div>
        <div class="modal-content">
          1) An employee who is engaged under his contract of service in shift work may be required by his employer to work more than eight hours in any one day or more than forty-eight hours in any one week but the average number of hours worked over any period of three weeks, or over any period exceeding three weeks as may be approved by the Director General, shall not exceed forty-eight per week..<br/><br/>


          2) Except in the circumstances described in section 60A (2) (a), (b), (c), (d), and (e), no employer shall require any employee who is engaged under his contract of service in shift work to work for more than twelve hours in any one day..<br/><br/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="last-line">
<p> Couldn't find what you were searching for? Try our <a href ="/queries">Query Site</a></p>
</div>
<style>

			body {font-family: Do Hyeon, Helvetica, sans-serif;}
.main-content { 
  position: relative;
  display: block;
  width: 100%;
  height: 10%;
  border: 1px #ddd solid;
  margin-right: 100px;
}

.container-modal { 
  position: relative;
  display: block;
  float: left;
  width: 25%;
  height: 200px;

}

.title { 
  width: 90%;
  padding: 20px 0;
  background: #fefefe;
  color: black;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
  margin: auto;
}


body.lorem { 
  position: fixed; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  
}

.modal { 
  display: none; 
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  z-index: 1;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal.on { 
  display: block;
  
}

.modal-container { 
  position: relative;
  display: block; 
  top: 10%;
  width: 980px;
  margin: 0 auto;
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.modal-container .modal-header {
  position: relative; 
  display: block;
  overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-container .modal-header .modal-title {
  font-family: 'Do Hyeon', sans-serif; 
  font-size: 30px; 
  line-height: 1.2; 
  color: #fff; 
  font-weight: bold;
  text-align: center; 
  padding: 20px 0;
}

.modal-container .modal-header span.close {
  position: absolute; 
  display: block;
  width: 52px; 
  height: 52px; 
  top: 12px; 
  right: 30px;
  cursor: pointer;
  color: white; 
  
}

.modal-container .modal-content { 
  position: relative; 
  display: block; 
  overflow: auto; /* Enable scroll if needed */
   color: white; 
  height: 80%;
}

#winner-1 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d34293717666869c9f8d26d353e1bb24&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 10px #111;
    
    line-height: 100px; 
}

#winner-2 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1524592094714-0f0654e20314?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a1840a8b1edfa6791a98c07e6a728de&auto=format&fit=crop&w=1589&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 10px #111;

    line-height: 100px;
}

#winner-3 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32a9c4941b484a53036a8c9492638dfb&auto=format&fit=crop&w=1653&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 10px #111;
    line-height: 100px;
}

#winner-4 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1529016587530-3210122452e7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=65ab52834690d4ecdb4c44763c4ca3de&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 10px #111;
    
    line-height: 100px; 
}

#winner-5 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1512615199361-5c7a110a8d11?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=683c7f439369df3c20574587133f7821&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 10px #111;
    line-height: 100px;
}

#winner-6 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1525334021141-c80f8e997f2d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8e4664bf9fb01efa56a0ecf009f1f936&auto=format&fit=crop&w=2000&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 10px #111;
    line-height: 100px;
}



#winner-7 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1494363608357-c7fa659e7325?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=44dd0d02ea1c4f5c8c839aaeb9ff73d7&auto=format&fit=crop&w=1651&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 10px #111;
    line-height: 100px;
}

#winner-8 {
    margin: 20px 20px 0;
    width: calc(100%-40px);
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1508225957744-04aa7ca4cfac?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=86d11cda56a23ec020809fa9cf000487&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 10px #111;
    line-height: 100px;
}

#winner-0 {
    margin: 20px 20px 0;
    /*width: calc(100%-40px);*/
    height: 70px;
    background-image: url(https://images.unsplash.com/photo-1492848368155-e0a7e92ddc0b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f724046acf7c4a5bb98551721dc099f&auto=format&fit=crop&w=1735&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 10px #111;
    line-height: 100px;
}

.last-line
{ 

  width: 100%;
  clear: left;
}

@media only screen and (min-width: 1025px) {

   .container-modal {
    margin: 10px 10px 0px 45px;
    /*width: calc(30%) !important;*/
    /*height: 250px;*/
    display: inline-block;
}


    #winner-1, #winner-2, #winner-3, #winner-4, #winner-5, #winner-6, #winner-7, #winner-8    {
    margin: 20px 20px 0;
    /*width: calc(30%) !important;*/
    height: 70px;
    display: inline-block;
}

}
	
</style>
<script >
$('.container-modal .title').each(function (idx, item) {
    var winnerId = "winner-" + idx;
     this.id = winnerId;
     $(this).click(function(){
       var btn = $("#winner-" + idx);
       var span = $(".close");
       var popId = $('#win-'+ idx);
       btn.click(function() {
          $(popId).addClass('on');
          $('body').addClass('lorem');
        }); 
        span.click(function() {
           $(popId).removeClass('on');
           $('body').removeClass('lorem');
         });
         
     
     });
 });
  
 
  
</script>  



</body>
</html>
