
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    



</head>


<div class="main-content">
  
  <div class="container-modal">
     <div class="title">
        Wage period

    </div>
    <div class="modal" id="win-0">
        
       <div class="modal-container">
         <div class="modal-header">
           <div class="modal-title">Wage period
</div>
           <span class="close">X</span>
          </div>
          <div class="modal-content">
              (1) A contract of service shall specify a wage period not exceeding one month.<br/><br/>

(2) If in any contract of service no wage period is specified the wage period shall for the purposes of the contract be deemed to be one month.<br/><br/>
          </div>
       </div>
      
      </div>
  </div>
  
  <div class="container-modal">
     <div class="title">
        Time of payment of wages


    </div>
    <div class="modal" id="win-1">
        
       <div class="modal-container">
         <div class="modal-header">
           <div class="modal-title">Time of payment of wages

</div>
           <span class="close">X</span>
          </div>
          <div class="modal-content">
              Every employer shall pay to each of his employees not later than the seventh day after the last day of any wage period the wages, less lawful deductions, earned by such employee during such wage period:<br/><br/>

Provided that if the Director General is satisfied that payment within such time is not reasonably practicable, he may, on the application of the employer, extend the time of payment by such number of days as he thinks fit.<br/><br/>

          </div>
       </div>
      
      </div>
  </div>
  
  <div class="container-modal">
     <div class="title">
        Payment on normal termination of contract
    </div>
    <div class="modal" id="win-2">
        
       <div class="modal-container">
         <div class="modal-header">
           <div class="modal-title">Payment on normal termination of contract</div>
           <span class="close">X</span>
          </div>
          <div class="modal-content">
              The wages, less lawful deductions, earned by but not yet paid to an employee whose contract of service terminates in accordance with section 11 (1) or of section 12 shall be paid to such employee not later than the day on which such contract of service so terminates.<br/><br/>



          </div>
       </div>
      
      </div>
  </div>
  
  <div class="container-modal">
     <div class="title">
        Payment on termination of contract in special circumstances and on breach of contract
 
    </div>
    <div class="modal" id="win-3">
        
       <div class="modal-container">
         <div class="modal-header">
           <div class="modal-title">Payment on termination of contract in special circumstances and on breach of contract
 
</div>
           <span class="close">X</span>
          </div>
          <div class="modal-content">
             (1) Where an employer terminate the contract of service of an employee without notice in accordance with section 13 (1) or (2) and section 14(1) (a) <br/><br/>

(a) the wages, less any deductions which the employer is entitled to make under section 24, earned by such employee up to and including the day immediately preceding the day on which the termination of the contract of service takes effect; and<br/><br/>
(b) in addition, where the employer terminates the contract of services under section 13 (1), the indemnity payable to the employee under that subsection,shall be paid by the employer to the employee not later than the day on which such contract of service is so terminated.<br/><br/>

(2) Where an employee terminates his contract of service with an employer without notice in accordance with section 13 (1) or (2) or section 14 (3), the wages, less any deductions which the employer is entitled to make under section 24, earned by such employee up to and including the day immediately preceding the day on which the termination of the contract of service takes effect shall be paid by the employer to the employee not later than the third day after the day on which the contract of service is so terminated.<br/><br/>


          </div>
       </div>
      
      </div>
  </div>
  
</div>


<div class="container-modal">
     <div class="title">
        Limitation on advances to employees
    </div>
    <div class="modal" id="win-4">
        
       <div class="modal-container">
         <div class="modal-header">
           <div class="modal-title">Limitation on advances to employees</div>
           <span class="close">X</span>
          </div>
          <div class="modal-content">
              No employer shall during any one month make to an employee an advance or advances of wages not already earned by such employee which exceeds in the aggregate the amount of wages which the employee earned in the preceding month from his employment with such employer, or if he has not been so long in the employment of such employer, the amount which he is likely to earn in such employment during one month, unless such advance is made to the employee <br/><br/>

(a) to enable him to purchase a house or to build or improve a house;<br/><br/>
(b) to enable him to purchase land;<br/><br/>
(c) to enable him to purchase livestock;<br/><br/>
(d) to enable him to purchase a motorcar, a motorcycle or a bicycle;<br/><br/>
(da) to enable him to purchase shares of the employer's business offered for sale by the employer;<br/><br/>
(e) for any other purpose --<br/><br/>
(i) in respect of which an application in writing is made by the employer to the Director General;<br/><br/>
(ii) which is, in the opinion of the Director General, beneficial to the employee; and<br/><br/>
(iii) which is approved in writing by the Director General, provided that in granting such approval, the Director General may make such modifications thereto or impose such conditions thereon as he may deem proper;<br/><br/>
(f) for such other purpose as the Minister may, from time to time, by notification in the Gazette, specify either generally in respect of all employees, or only in respect of any particular employee, or any class, category or description of employees.<br/><br/>


          </div>
       </div>
      
      </div>
  </div>


  <div class="container-modal">
     <div class="title">
         Wages not due for absence from work through imprisonment or attendance in court
    </div>
    <div class="modal" id="win-5">
        
       <div class="modal-container">
         <div class="modal-header">
           <div class="modal-title"> Wages not due for absence from work through imprisonment or attendance in court</div>
           <span class="close">X</span>
          </div>
          <div class="modal-content">
              Wages shall not become payable to or recoverable by any employee from his employer for or on account of the term of any sentence of imprisonment undergone by him or for any period spent by him in custody or for or on account of any period spent by him in going to or returning from prison or other place of custody or for or on account of any period spent by him in going to, attending before or returning from a court otherwise than as a witness on his employer's behalf.<br/><br/>

          </div>
       </div>
      
      </div>
  </div>


  <div class="container-modal">
     <div class="title">
        Wages to be paid in legal tender and Payment of wages through bank 
    </div>
    <div class="modal" id="win-6">
        
       <div class="modal-container">
         <div class="modal-header">
           <div class="modal-title"> Wages to be paid in legal tender and Payment of wages through bank  </div>
           <span class="close">X</span>
          </div>
          <div class="modal-content">
             (1) Except as otherwise expressly permitted by this Act, the entire amount of the wages earned by, or payable to, any employee in respect of any work done by him shall be actually paid to him in legal tender, and every payment of, or on account of, any such wages made in any other form shall be illegal, null and void.<br/><br/>

(2) Every employee shall be entitled to recover in the courts or before the Director General acting under section 69 so much of his wages, exclusive of sums lawfully deducted under Part IV, as shall not have been actually paid to him in legal tender or paid to him by any of the ways under section 25A.<br/><br/>

(13) Nothing in section 25 (1) shall operate so as to render unlawful or invalid any payment of wages by the employer to the employee with the employee's written consent in any of following ways: <br/><br/>

(a) payment into an account at a bank or a finance company licensed under the Banking and Financial Institutions Act 1989 in any part of Malaysia being an account in the name of the employee or an account in the name of the employee jointly with one or more other persons;<br/><br/>
(b) payment by cheque made payable to or to the order of the employee.<br/><br/>

(4) The consent of the employee under this section may be withdrawn by him at any time by notice in writing given to the employer. Such notice shall take effect at but not before the end of the period of four weeks beginning with the day on which the notice is given.<br/><br/>

(5) The consent of the employee to the mode of payment of wages under subsection (1) shall not be unreasonably withheld or, if granted, shall not be unreasonably withdrawn by the employee notwithstanding subsection (2).<br/><br/>

(6) Any dispute as to whether an employee has unreasonably withheld or withdrawn his consent to the mode of payment of his wages under subsection (1) shall be referred to the Director General whose decision on the matter shall be final.<br/><br/>
          </div>
       </div>
      
      </div>
  </div>


  <div class="container-modal">
     <div class="title">
        Remuneration other than wages
    </div>
    <div class="modal" id="win-7">
        
       <div class="modal-container">
         <div class="modal-header">
           <div class="modal-title">Remuneration other than wages</div>
           <span class="close">X</span>
          </div>
          <div class="modal-content">
             (1) Nothing in this Part shall render illegal a contract of service with an employee under which the employer agrees to provide the employee with house accommodation, food, fuel, light, water, medical attendance, or any approved amenity or approved service in addition to wages but no employer shall provide any employee with any intoxicating liquor as part of the terms of a contract of service.<br/><br/>

(2) The Director General may, on application made to him in writing by an employer, approve in writing any amenity or service as an approved amenity or approved service, and in granting such approval the Director General may make such modifications thereto or impose such conditions thereon as he may deem proper.<br/><br/>

(3) Any person who is dissatisfied with any decision of the Director General under subsection (2) may, within thirty days of such decision being communicated to him, appeal in writing therefrom to the Minister.<br/><br/>

(4) On any appeal made to him under subsection (3), the Minister may make such decision or order thereon as appears just, and such decision or order shall be final.<br/><br/>
          </div>
       </div>
      
      </div>
  </div>

  <div class="container-modal">
     <div class="title">
        Restriction on places at which wages may be paid
    </div>
    <div class="modal" id="win-7">
        
       <div class="modal-container">
         <div class="modal-header">
           <div class="modal-title">Restriction on places at which wages may be paid</div>
           <span class="close">X</span>
          </div>
          <div class="modal-content">
             No employer shall pay wages to employees in taverns or other similar establishments or in places of amusement or in shops or stores for the retail sale of merchandise except in the case of employees employed therein.<br/><br/>
          </div>
       </div>
      
      </div>
  </div>

  <div class="container-modal">
     <div class="title">
        Restriction on places at which wages may be paid
    </div>
    <div class="modal" id="win-7">
        
       <div class="modal-container">
         <div class="modal-header">
           <div class="modal-title">Restriction on places at which wages may be paid</div>
           <span class="close">X</span>
          </div>
          <div class="modal-content">
             No employer shall pay wages to employees in taverns or other similar establishments or in places of amusement or in shops or stores for the retail sale of merchandise except in the case of employees employed therein.<br/><br/>
          </div>
       </div>
      
      </div>
  </div>

<div class="container-modal">
     <div class="title">
        Interest on advances forbidden
    </div>
    <div class="modal" id="win-7">
        
       <div class="modal-container">
         <div class="modal-header">
           <div class="modal-title">Interest on advances forbidden</div>
           <span class="close">X</span>
          </div>
          <div class="modal-content">
            No employer shall:<br/><br/>

(a) make any deduction; or<br/><br/>
(b) receive any payment,<br/><br/>
from any employee by way of discount, interest or any similar charge on account of any advance or advances of wages made to an employee in anticipation of the regular date for the payment of wages, where such advance or advances do not exceed in the aggregate one month's wages.<br/><br/>

<br/><br/>
          </div>
       </div>
      
      </div>
  </div>

<style>

			body {font-family: Arial, Helvetica, sans-serif;}
.main-content { 
  position: relative;
  display: block;
  width: 100%;
  height: 10%;
  border: 1px #ddd solid;
}

.container-modal { 
  position: relative;
  display: block;
  float: left;
  width: 25%;
  height: 200px;
}

.title { 
  width: 90%;
  padding: 20px 0;
  background: #fefefe;
  color: black;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
  margin: auto;
}


body.lorem { 
  position: fixed; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  
}

.modal { 
  display: none; 
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  z-index: 1;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal.on { 
  display: block;
  
}

.modal-container { 
  position: relative;
  display: block; 
  top: 10%;
  width: 980px;
  margin: 0 auto;
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.modal-container .modal-header {
  position: relative; 
  display: block;
  overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-container .modal-header .modal-title {
  font-family: 'Roboto', sans-serif; 
  font-size: 30px; 
  line-height: 1.2; 
  color: #fff; 
  font-weight: bold;
  text-align: center; 
  padding: 20px 0;
}

.modal-container .modal-header span.close {
  position: absolute; 
  display: block;
  width: 52px; 
  height: 52px; 
  top: 12px; 
  right: 30px;
  cursor: pointer;
  color: white; 
  
}

.modal-container .modal-content { 
  position: relative; 
  display: block; 
  overflow: auto; /* Enable scroll if needed */
   color: white; 
  height: 80%;
}

	
</style>
<script >
$('.container-modal .title').each(function (idx, item) {
    var winnerId = "winner-" + idx;
     this.id = winnerId;
     $(this).click(function(){
       var btn = $("#winner-" + idx);
       var span = $(".close");
       var popId = $('#win-'+ idx);
       btn.click(function() {
          $(popId).addClass('on');
          $('body').addClass('lorem');
        }); 
        span.click(function() {
           $(popId).removeClass('on');
           $('body').removeClass('lorem');
         });
       
        
     
     });
 });
  
 
  
</script>  
 <p> Couldn't find what you were searching for? Try our <a href ="/queries">Query Site</a></p>
</body>
</html>
