

<h1 class="top-header">Questions</h1>



<div class="main-questions-container">



    <!-- Will use loop here to display each question and also pagination after backend more complete -->

<!-- QUESTIONS (TO BE REPLACED WITH LOOP AND PAGINATION) -->
    <div class="questions-container">


      <p class="question-topic" id="main-questions-page">Wages</p>

      <h2 class="question-title" id="main-questions-page">I haven’t been paid in two months. What can I do?</h2>

      <div class="question-submission-info" id="main-questions-page">

          <a href="#" class="question-submission-info-item">Submitted by <strong> username</strong></a>

          <p class="question-submission-info-item">Submitted @created_at</p>



      </div>


    <div class="answer-container" id="main-answers-page">

        <p id="top-answer">Top Answer</p>

        <a href="#" class="answer">The Tempor sitas reptatur? Qui doleni id moPerore plibust reici conetur? Awead sada And add some more content here maybe it will appear like this yep that would be good.</a>

        <div class="answer-submission-info">

          <a href="#" class="answer-submission-info-item">Submitted by <strong> username</strong></a>

        </div>

        <div class="button" id="seemore">See More</div>

        <div class="divider-horizontal"></div>


      </div>

  </div>


      <div class="questions-container">


      <p class="question-topic" id="main-questions-page">Wages</p>

      <h2 class="question-title" id="main-questions-page">I haven’t been paid in two months. What can I do?</h2>

      <div class="question-submission-info" id="main-questions-page">

          <a href="#" class="question-submission-info-item">Submitted by <strong> username</strong></a>

          <p class="question-submission-info-item">Submitted @created_at</p>



      </div>


    <div class="answer-container" id="main-answers-page">

        <p id="top-answer">Top Answer</p>

        <a href="#" class="answer">The Tempor sitas reptatur? Qui doleni id moPerore plibust reici conetur? Awead sada And add some more content here maybe it will appear like this yep that would be good.</a>

        <div class="answer-submission-info">

          <a href="#" class="answer-submission-info-item">Submitted by <strong> username</strong></a>

        </div>

        <div class="button" id="seemore">See More</div>

        <div class="divider-horizontal"></div>


      </div>

  </div>


      <div class="questions-container">


      <p class="question-topic" id="main-questions-page">Wages</p>

      <h2 class="question-title" id="main-questions-page">I haven’t been paid in two months. What can I do?</h2>

      <div class="question-submission-info" id="main-questions-page">

          <a href="#" class="question-submission-info-item">Submitted by <strong> username</strong></a>

          <p class="question-submission-info-item">Submitted @created_at</p>



      </div>


    <div class="answer-container" id="main-answers-page">

        <p id="top-answer">Top Answer</p>

        <a href="#" class="answer">The Tempor sitas reptatur? Qui doleni id moPerore plibust reici conetur? Awead sada And add some more content here maybe it will appear like this yep that would be good.</a>

        <div class="answer-submission-info">

          <a href="#" class="answer-submission-info-item">Submitted by <strong> username</strong></a>

        </div>

        <div class="button" id="seemore">See More</div>

        <div class="divider-horizontal"></div>


      </div>

  </div>

      <div class="questions-container">


      <p class="question-topic" id="main-questions-page">Wages</p>

      <h2 class="question-title" id="main-questions-page">I haven’t been paid in two months. What can I do?</h2>

      <div class="question-submission-info" id="main-questions-page">

          <a href="#" class="question-submission-info-item">Submitted by <strong> username</strong></a>

          <p class="question-submission-info-item">Submitted @created_at</p>



      </div>


    <div class="answer-container" id="main-answers-page">

        <p id="top-answer">Top Answer</p>

        <a href="#" class="answer">The Tempor sitas reptatur? Qui doleni id moPerore plibust reici conetur? Awead sada And add some more content here maybe it will appear like this yep that would be good.</a>

        <div class="answer-submission-info">

          <a href="#" class="answer-submission-info-item">Submitted by <strong> username</strong></a>

        </div>

        <div class="button" id="seemore">See More</div>

        <div class="divider-horizontal"></div>


      </div>

  </div>

      <div class="questions-container">


      <p class="question-topic" id="main-questions-page">Wages</p>

      <h2 class="question-title" id="main-questions-page">I haven’t been paid in two months. What can I do?</h2>

      <div class="question-submission-info" id="main-questions-page">

          <a href="#" class="question-submission-info-item">Submitted by <strong> username</strong></a>

          <p class="question-submission-info-item">Submitted @created_at</p>



      </div>


    <div class="answer-container" id="main-answers-page">

        <p id="top-answer">Top Answer</p>

        <a href="#" class="answer">The Tempor sitas reptatur? Qui doleni id moPerore plibust reici conetur? Awead sada And add some more content here maybe it will appear like this yep that would be good.</a>

        <div class="answer-submission-info">

          <a href="#" class="answer-submission-info-item">Submitted by <strong> username</strong></a>

        </div>

        <div class="button" id="seemore">See More</div>

        <div class="divider-horizontal"></div>


      </div>

  </div>










</div>